/* Bootstrap overrides */

aside {
  border-right: 0.5px solid #dee2e6;
}

pre code {
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #eee;
  display: block;
}

blockquote {
  padding-left: 15px;
  border-left: 3px solid #dee2e6;
}

h1 {
  border-bottom: 1px solid rgba(200, 200, 200, .6);
  padding-bottom: 2px;
}

/* Table of Contents */
#TableOfContents {
  background: #f0f;
  border-left: 1px solid #000;
  padding: 3px 10px 3px 10px;
  margin: 60px 3px 15px 5px;
  float: right;
  width: 25%;
  background: #fff;
}

#TableOfContents ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#TableOfContents li {
  margin: 0 0 0 10px;
  padding: 0;
} 

/*
Callout Blocks not included by default in Bootstrap
Note = blue
Tip = Green
Important = Purple
Warning = yellow/default
Caution = Red
*/
.alert-note {
  color: #00112a;
  background-color: #f6fafe;
  border-left-color: #497db5;
  border-left-width: 6px;
}

.alert-tip {
  color: #0a2b00;
  background-color: #f6fdf4;
  border-left-color: #5daf43;
  border-left-width: 6px;
}

.alert-important {
  color: #2c000d;
  background-color: #fef9fd;
  border-left-color: #b346b4;
  border-left-width: 6px;
}

.alert-warning {
  color: #312e04;
  background-color: #fbf9ec;
  border-left-color: #f6bd13;
  border-left-width: 6px;
}

.alert-caution {
  color: #320000;
  background-color: #fbf5f6;
  border-left-color: #ff0a0a;
  border-left-width: 6px;
}
