/* Bootstrap overrides */

aside {
    border-right: 0.5px solid #dee2e6;
}

pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

blockquote {
    padding-left: 15px;
    border-left: 3px solid #dee2e6;
}