<div class="container mt-0">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">&copy; 2025 Micheal Jones</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3 text-muted">Last Updated: {{ time.Now | time.Format ":date_medium" }}</li>
        <li class="ms-3"><a class="text-muted" href="/index.xml"><img src="/images/rss.svg" alt="RSS Logo from Bootstrap Icons" /></a></li>
        <li class="ms-3"><a class="text-muted" rel="me" href="https://hachyderm.io/@chealion"><img src="/images/mastodon.svg" alt="Mastodon Logo from Bootstrap Icons" /></a></li>
        <li class="ms-3"><a class="text-muted" href="https://github.com/Chealion"><img src="/images/github.svg" alt="GitHub Logo from Bootstrap Icons" /></a></li>
        <li class="ms-3"><a class="text-muted" href="https://chealion.ca"><img src="/images/keyboard.svg" alt="Keyboard Icon Linking to Blog from Bootstrap Icons" /></a></li>
      </ul>
    </footer>
</div>
