<div class='footer'>
    <div class="container">
      <div class="copyright">
        &copy; 2022 Micheal Jones
      </div>
      <div class="main-menu">
        <ul>
            <li class="menu-item">
                <a href="https://chealion.ca">Blog</a>
            </li>
            <li class="menu-item">
                <a href="https://twitter.com/chealion">Twitter</a>
            </li>
            <li class="menu-item">
                <a href="https://github.com/chealion">GitHub</a>
            </li>
        </ul>
      </div>
    </div>
</div>