<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-2 mb-3 border-bottom">
    <a href="{{ .Site.BaseURL }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">mcjones.ca</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="/docs" class="nav-link">Docs</a></li>
      <!--<li class="nav-item">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search Coming Soon..." aria-label="Search">
        </form>
      </li>-->
    </ul>
  </header>
</div>
