{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<div class="d-flex flex-nowrap container">
  {{- partial "sidebar.html" .}}

<article class="mx-0 my-0 px-3 col-lg-10 text-left">
  <div class="mb-3">
    <h1 class="mb-0 fs-2">{{ .Title }}</h1>
    <small class="text-muted">(Sorted by Last Modified)</small>
  </div>

  {{ .Content }}

  <ul class="list-unstyled pb-1">
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages.ByLastmod.Reverse }}
        <li class="px-2">
          <a class="text-decoration-none" href="{{.Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>
</article>

</div>
{{ end }}
