{{ define "main" }}

<div class="px-4 my-5 text-center">
    <h1 class="display-4 fw-bold" style="border: none;">mcjones.ca</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">My collection of personal docs, notes, snippets, and various bits and bobs.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="docs"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">To the Docs</button></a>
      </div>
    </div>
    <!-- Some image for some colour? -->
  </div>

{{ end }}
