{{ define "main" }}
<main id="main" aria-role="main">
    <header class="homepage-header">
        <h1>mcjones.ca</h1>
    </header>
    <div class="homepage-content">
        <p>A place for snippets and documentation being shared publicly.</p>
        <ul>
            <li>To the Docs</li>
            <li>Blog</li>
            <li>GitHub</li>
            <li>Twitter</li>
        </ul>

        <div class="index-image">
            <img src="" alt="mcjones.ca Photo" />
        </div>
    </div>
</main>
{{ end }}
